@media screen and (max-width: 768px){ 
    .menu-header{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0,0,0,0.90);
        position: absolute;
        top: 80px;
        left: 0px;
        height: 300px;
        width: 100%;
    }    

    .menu-barras{
        display: initial
    }

    #icone-menu{
        color: white;
        font-size: 30px;
    }
    
    .form_main{
        width: 80%;
        /* border-right: 10px;    */
        /* display: contents; */
        margin-left: 10%;
        margin-right: 10%;
        justify-content: center;
    }

    .form-horizontal {
        padding-left: 10px;
    }

    .destaque-banner{
        max-height: 400px;
        min-width: 438px;
        max-width: 420px;
        bottom: 50%;
        /* right: 15%;
        left: 15%; */
    }
     
    .destaque-banner h1, h2, h3 {
        width: 100%;
        font-size: 25px;
    }

    .destaque-banner p {
        width: 100%;
        font-size: 15px;
    }

    .section-banner-home .texto-banner h1 {
        padding-top: 320px;
        font-size: 35px;
        width: 100%;
    }
    .section-banner-home .texto-banner h2 {
        font-size: 20px;
    }
    .section-banner-home{
        display: relative;
    }

    .section-banner-home .texto-banner p{
        left: 10px;
        font-size: 15px;
        text-align: left;
        padding-bottom: 10px;
    }

    .rodape{
        width: 100%;
        padding: 0;
        left: 45px;
    }


}

@media screen and (min-width:768px){
    .menu-header{
        display: flex !important;
    }
}

@media screen and (max-width: 1250px) and (min-width:768px){

    .form_main{
        /* width: 80%;
        border-right: 10px;      
        
        justify-content: center; */
        width: 60%;
        margin-left: 5%;
        margin-right: 10%;
        /* margin-left: 5%;
        margin-right: 35%; */
        justify-content: center;
    
    }
    
    .form-horizontal {
        padding-left: 10px;
    }

    .destaque-banner{
        max-width: 420px;
        max-height: 400px;
        bottom: 50%;
    }
        
    .destaque-banner h1, h2, h3 {
        width: 100%;
        font-size: 25px;
    }

    .destaque-banner p {
        width: 100%;
        font-size: 15px;
    }

    .section-banner-home .texto-banner h1 {
        padding-top: 320px;
        font-size: 35px;
        width: 100%;
    }
    .section-banner-home .texto-banner h2 {
        font-size: 20px;
    }
    .section-banner-home{
        display: relative;
    }

    .section-banner-home .texto-banner p{
        left: 10px;
        font-size: 15px;
        text-align: left;
        padding-bottom: 10px;
    }

    .rodape{
        width: 100%;
        padding: 0;
        left: 45px;
    }
    
    

}
