@media screen and (max-width: 1519px){ 
    .menu-header{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0,0,0,0.90);
        position: absolute;
        top: 80px;
        left: 0px;
        height: 300px;
        width: 100%;
    }    

    /*.titulo-senai{
        font-size: 42px;
    } */

    .menu-barras{
        display: initial
    }

    #icone-menu{
        color: white;
        font-size: 30px;
    }
    
    .form_main{
        /* width: 50%; */
        border-right: 10px;
        width: fit-content;
        min-width: 480px;
    }

    .form-horizontal {
        padding-left: 10px;
    }

    .destaque-banner{
        /* width: 50%; */
        max-height: 400px;
        width: fit-content;
        min-width: 438px;
    }
     
    .destaque-banner h1, h2, h3 {
        width: 100%;
        font-size: 25px;
    }

    .destaque-banner p {
        width: 100%;
        font-size: 15px;
    }

    .section-banner-home .texto-banner h1 {
        padding-top: 320px;
        font-size: 35px;
        width: 100%;
    }
    .section-banner-home .texto-banner h2 {
        font-size: 20px;
    }
    .section-banner-home{
        display: relative;
    }

    .section-banner-home .texto-banner p{
        left: 10px;
        font-size: 15px;
        text-align: left;
    }

    .rodape{
        width: 100%;
    }


}

@media screen and (min-width:1519px){
    .menu-header{
        display: flex !important;
    }
}

@media screen and (max-width: 490px){
    .menu-header{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0,0,0,0.90);
        position: absolute;
        top: 80px;
        left: 0px;
        height: 300px;
        width: 100%;
    }    

    .menu-barras{
        display: initial
    }

    #icone-menu{
        color: white;
        font-size: 30px;
    }
    
    .form_main{
        /* width: 50%; */
        border-right: 10px;
        width: fit-content;
        min-width: 480px;
        width: 90%;
    }

    .form-horizontal {
        padding-left: 10px;
    }

    .destaque-banner{
        /* width: 50%; */
        max-height: 400px;
        width: fit-content;
        /* min-width: 438px; */
        width: 90%;
        left: 20px
    }
     
    .destaque-banner h1, h2, h3 {
        width: 100%;
        font-size: 25px;
    }

    .destaque-banner p {
        width: 100%;
        font-size: 15px;
    }

    .section-banner-home .texto-banner h1 {
        padding-top: 320px;
        font-size: 35px;
        width: 100%;
    }
    .section-banner-home .texto-banner h2 {
        font-size: 20px;
    }
    .section-banner-home{
        display: relative;
        width: 100%;
        
    }

    .section-banner-home .texto-banner p{
        left: 10px;
        font-size: 15px;
        text-align: left;
    }

    .rodape{
        width: 100%;
        padding: 0;
    }

}


