
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue';
}

.container-grid{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    z-index: 1;
    background-color: #007566;
    height: 80px;
    position: fixed;
    width: 100vw;
}

.conteudo-header{
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo{
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100px;
}

.menu-header{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header a{
    color: #F2EBD5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
}

.menu-header a:hover:not(.botao){
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;
}

.whatsapp{
    position: fixed;
    z-index: 2;
    top: 200px;
    right: 40px;
}

.whatsapp img{
    height: 60px;
}

.botao{
    background-color: #F2EBD5;
    color: #007566 !important;
    height: 45px;   
    width: 150px;
    text-align: center;
    line-height: 47px;
    font-size: 1.5em !important;
    border: solid 2px #3f9489;
    border-radius: 30px 10px;
}


.botao:hover{
    font-size: 1.6em !important;
    height: 50px;
    line-height: 50px;
    width: 160px;
    transition: 0.3s;
    box-shadow: 4px 4px 6px #0000007a;
}

.menu-barras{
    display: none;
}

/* inicio css galeria */

.galeria {
    margin: 0px auto 0px;



}

.galeria h2 {
    text-align: center;
    font-size: 0;
    top: 20px;

}

.galeria p {
    text-align: center ;
    width: 80%;
    margin: 100px

}
.galeria .gallery img {
    width: 80%;
    height: 80%;
    -webkit-transition: -wekit-transform .2s ease;
    transition: transform .5s ease;
    display: block;
}

.galeria .gallery {
    width: 50%;
    margin: 100px auto 50px;
    
    
}
.galeria .gallery img:hover {
   -webkit-transform: scale(1.5);
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* fim css galeria */