@media screen and (max-width:768px){ 
    .menu-header{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0,0,0,0.90);
        position: absolute;
        top: 80px;
        left: 0px;
        height: 300px;
        width: 100%;
    }    

    .titulo-senai{
        font-size: 42px;
    }

    .menu-barras{
        display: initial;
    }

    #icone-menu{
        color: white;
        font-size: 30px;
    }

    .texto-sobre{
        width: 100%;
        height: unset;
    }
  
}

@media screen and (min-width:768px){
    .menu-header{
        display: flex !important;
    }
}