@import url('https://fonts.cdnfonts.com/css/vogue');
@import url('https://fonts.cdnfonts.com/css/sarlotte');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Vogue', sans-serif;
}

.container-grid{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    z-index: 1;
    background-color: #007566;
    height: 80px;
    position: fixed;
    width: 100vw;
}

.conteudo-header{
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    box-shadow: 4px 4px 6px #0000007a;
}

.logo{
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100px;
}

.menu-header{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header a{
    color: #F2EBD5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
}

.menu-header a:hover{
    color: #F2EBD5;
}

.menu-header  #font{
    font-family: 'Vogue', sans-serif;
}

.menu-header a:hover:not(.botao){
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;
}

.whatsapp{
    position: fixed;
    z-index: 2;
    top: 200px;
    right: 40px;
}

.whatsapp img{
    height: 60px;
}

.botao{
    background-color: #F2EBD5;
    color: #007566 !important;
    height: 45px;   
    width: 200px;
    text-align: center;
    line-height: 47px;
    font-size: 1.5em !important;
    border: solid 2px #3f9489;
    border-radius: 30px 10px;
}


.botao:hover{
    font-size: 1.6em !important;
    height: 50px;
    line-height: 50px;
    width: 200px;
    transition: 0.3s;
    box-shadow: 4px 4px 6px #0000007a;
}

.menu-barras{
    display: none;
}

.banner{
    background-image: url();
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.conteudo-banner{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.texto-banner{
    display: flex;
    flex-direction: column;
    /* height: 60%; */
    justify-content: space-around;
}

.texto-banner h1{
    padding-top: 70%;
    font-family: 'Sarlotte', sans-serif;
    color: #F2EBD5;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 0 0 0.2em #0000007a;
}

.linha{
    border: solid 1px#F2EBD5;
    box-shadow: 0 0 0.2em #0000007a;
}

.titulo-senai{
    
    font-family: 'Sarlotte', sans-serif;
    color: #F2EBD5;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 0 0.2em #0000007a;
}


.sobre-projetos{
    background-color: #F2EBD5;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    position: relative;
}

.sobre-projetos h2{
    color: #007566;
    font-family: 'Vogue', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.conteudo-sobre{
    justify-content: space-between;
    display: flex;
}

.imagem-sobre{
    width: 40%;
}

.texto-sobre{
    width: 50%;
}

.texto-participantes{
    color: #3f9489;
   font-family: 'Vogue', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}

.conteudo-sobre h3{
    color: #007566;
    font-size: 45px;
    font-weight: 500;
}

.info{
    background-color: #007566;
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
}

.conteudo-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-info{
   font-family: 'Vogue', sans-serif;
    text-transform: uppercase;
    margin: 20px;
}

.card-info h3{
    color: #F2EBD5;
    font-size: 20px;
}

.card-info p{
    color: #F2EBD5;
    font-size: 22px;
    font-weight: 600;
    border: solid 2px #F2EBD5;
    width: 250px;
    padding: 30px 0;
    text-align: center;
}

.card-info a{
    text-decoration: none;
}

.destaque{
    padding: 40px 0;
    background-color: #F2EBD5;
    height: auto;
    width: 100%;
}

.conteudo-destaque{
    justify-content: center;
    align-items: center;
    display: flex;
}

.conteudo-destaque h2{
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 10px;
    color: #007566;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Vogue', sans-serif;
}

.texto-destaque{
    margin-top: 8px;
    border: 0px;
    border: 10px;
    width: 90%;
    height: auto;
    padding: 0 15px 15px 0;
}

.texto-destaque img{
    box-shadow: 4px 4px 4px #838080;
    border: 0px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    margin-left: 12%;
    margin-right: 20%;
    align-items: center;
}

.texto-destaque img:hover{
    box-shadow: 0 0 10px #838080;
    border: 3px solid #007566;
    border-radius: 10px;
}


/* Início CSS Footer */

.rodape{
    padding: 50px 0px;
    background-color:#007566 ;
    display: flex;
    position: relative;
}

.rodape .container #img-logo{
    height: 50%;
    width: 50%;
    padding-left: 10px;
    transition: transform .2s;
}

.rodape .container #img:hover{
   transform: scale(1.5);
}

.rodape .info-contato p{
    margin: 0;
    color: #F2EBD5;
}

.rodape a{
    text-decoration: none;
    color:#F2EBD5;
    font-size: 13px;
}

.rodape a:hover{
    font-weight: bold;
}

.rodape .redes-sociais img{
   width: 50px;
   height: 50px;
   padding-left: 0;
   margin-left: 0.7rem;
   transition: transform .3s;
   border-radius: 10px;
}

.rodape .redes-sociais img:hover{
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgb(94, 91, 91);
}

.rodape p.direitos{
    text-align: center;
    margin-top: 40px;
    color: #F2EBD5;
}
/* Fim CSS Footer */



@media screen and (max-width:1200px){

    .menu-header{
        width: 60%;
    }
    
    .conteudo-sobre{
        flex-direction:column;
        align-items: center;
    }

    .texto-banner{
        padding-left:5%;
    }

    .imagem-sobre{
        width: 80%;
    }

    .texto-sobre{
        width: 80%;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        height:430px ;
        justify-content: space-between;
    }
    
    .destaque{
        display: flex;
        position: relative;
    }

    .conteudo-destaque{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 25%;
        justify-content: center;
    }

    .rodape{
        display: flex;
        position: relative;
    }

    .conteudo-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 660px;
        justify-content: space-between;
    }

    .conteudo-destaque h2{
        align-self: flex-start;
    }

    .texto-destaque p{
        width: 100%;
    }

    
}
    
